@import "../../scss/mixins";

.my-wrapper {
  background-color: #e4e4e4;
  .account {
    padding: px2rem(10) px2rem(15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-bottom: px2rem(1) solid #e6e5e5;
  }
  .account__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    & > img {
      width: px2rem(78);
      height: px2rem(78);
      border-radius: px2rem(78);
    }
  }
  .account__info__name {
    text-align: left;
    margin-left: px2rem(15);
    font-size: px2rem(15);
    color: #666;
    & > h5 {
      color: #333;
      font-size: px2rem(15);
      margin-bottom: px2rem(10);
    }
  }
  .account__go {
    position: relative;
    padding-right: px2rem(10);
    color: #BDBDBD;
    & > img {
      width: px2rem(25);
      height: px2rem(25);
    }
    &:after {
      display: inline-block;
      content: '';
      height: px2rem(9);
      width: px2rem(9);
      border-width: px2rem(2) px2rem(2) 0 0;
      border-color: #D6D6D6;
      border-style: solid;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: px2rem(-9);
      transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    }
  }
  .bar-wrap {
    background-color: #ffffff;
    border-bottom: px2rem(1) solid #e6e5e5;
  }
  .bar-wrap__icon {
    width: px2rem(30);
    height: px2rem(26);
    margin-right: px2rem(10);
  }

  .btn-wrap {
    .bottom-btn {
      background-color: #ffffff;
      border: px2rem(1) solid #BBBBBB;
    }
  }
}
