$white: #ffffff;
$gray: #666666;
$qsl-primary: #004785;
$qsl-red: #a90533;
$qsl-red-secondary: #a80531;
$qsl-yellow: #ffe636;
$theme-color: #3b5efe;

$black: #000000;
$grey-line: #eeeeee;
$grey-bg: #f2f2f2;

$color-base: #333333;
$gray-light: #999999;

$red: #f94545;
$green: #45c81e;

$header-top: 54px;

$pixel-0: 0;
$pixel-5: 5px;
$pixel-10: 10px;
$pixel-20: 20px;
$pixel-44: 40px;
$pixel-44: 44px;
$pixel-64: 64px;
